<div class="log-conteiner">
    <div class="log-control conteiner">

    </div>
    <div class="table-box">
        <table>
            <tr>
                <th>
                    Действие
                </th>
                <th>
                    Пользователь
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Комментарий
                </th>
            </tr>
            <tr *ngFor="let g of logs">
                <td>
                    {{g.action}}
                </td>
                <td>
                    {{g.user}}
                </td>
                <td>
                    {{g.dateTime}}
                </td>
                <td>
                    {{g.comment}}
                </td>
            </tr>
        </table>
    </div>
</div>